<div class="cardList">
    <mat-card class="example-card" *ngFor="let product of products" [@fadeInOut] (click)="router.navigate(['/product', product.id])">
      <mat-card-header>
          <mat-card-title>Id: {{ product.id }}</mat-card-title>
          <mat-card-subtitle>Title: {{ product.title }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{product.image}}" alt="{{ product.title }}">
      <mat-card-content>
          <p>
            Description: {{ product.description }}
          </p>
          <p>
            Rate: {{ product.rating.rate }}
          </p>
      </mat-card-content>
    </mat-card>
</div>
