.cardList {
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
  
.cardList > mat-card { 
    min-width: 200px;
}

.example-card {
    max-width: 400px;
    cursor: pointer;
}
