<div class="container mt-5">
    <div *ngIf="image" class="row animate__animated animate__bounce animate__fadeIn">
        <div class="col-md-4">
            <!-- <p><strong>Identifier:</strong>{{image.id}}</p> -->
            <p><strong>Title: </strong>{{image.title}}</p>
            <!-- <p><strong>Rate:</strong>{{image.rating.rate}}</p>
            <p><strong>Url:</strong>{{image.image}}</p> -->
            <div><img style="width: 80%; height: 80%" class="rounded" src="{{image.image}}" alt=""></div>
            <br>
            <br>
            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <strong>Show details</strong>                    
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                  <strong>Title:</strong>
                   {{image.title}}
                </p>
                <p>
                  <strong>Price:</strong>
                   {{image.price}}
                </p>
                <p>
                  <strong>Description:</strong>
                   {{image.description}}
                </p>
                <p>
                  <strong>Category:</strong>
                   {{image.category}}
                </p>
              </mat-expansion-panel>              
            </mat-accordion>
        </div>

        <div class="col-md-3">
            <a class="btn btn-danger" routerLink="/">Back</a>
        </div>
    </div>
</div>
